*{
    margin: 0;
    padding: 0;
}

.content_options{
    margin: 20px;
    border: 2px solid;
    padding: 20px;
    background-color: white;
}

.content_content{
    display: flex;
    
}

.content_content img{
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
}

.content_options h1 {
    font-size: 50px;
}

.content_options p {
    font-size: 30px;
}

.content_options hr{
    background-color: red;
}