*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    
  }
  
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}
  

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    
    backface-visibility: hidden;
}
  

.flip-box-front {
    background-color: #bbb;
    color: black;
}
  

.flip-box-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}