*{
    margin:0;
    padding: 0;
    background: gainsboro;
}

.content_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    align-items: center;
    width: 330px;
    height: 370px;
}

.card img{
    margin-top: 30px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 10px;
    background-color: white;
    border: 1px solid gainsboro;
    object-fit: cover;
}

.card h3 {
    background-color: white;
    margin-top: 10px;
}

.card p{
    margin: 15px 30px;
    font-size: small;
    text-align: center;
    background: white;
}

.card a{
    background: rgba(212, 99, 99, 0.822);
    border: 1px solid;
    height: 30px;
    width: 100px;
    text-align: center;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-weight: 100;
}

.card a:hover {
    background: red;
}

/*Recordar como quitar el marco de la seleccion*/

.card hr{
    background-color: red;
    width: 100%;
    height: 3px;
    border-style: none;    
}

.card_level1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    background-color: white;
}

.card_level1 h2{
    font-size: 15px;
    margin-top: 30px;
    margin-left: 15px;
    font-weight: 100;
    background-color: transparent;
    width: 1px;
}

.card_level1 p{
    background-color: aqua;
    margin: 0;
    width: 10px;
    height: 30px;
}

.card_level1 span{
    background-color: aqua;
    margin: 0;
    width: 10px;
    height: 30px;
}

@media screen and (max-width: 370px){
    .card {height: 410px;}
}