body, html {
    height: 100%;
    margin: 0;
}
  
.container{
  margin: 20px;
  display: flex;
  justify-content: center;
}

.content{
  height: 300px;
  box-sizing: border-box;
  border: 10px solid #f1f1f1;
  overflow: scroll;
  position: relative;
  border: 10px solid blue;
}

.bg-image {
  height: 500px;
  width: 100%;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
.img1 { background-image: url("https://notcompile.gitlab.io/tarea_w3school/assets/img/one_image.jpg"); }
.img2 { background-image: url("https://notcompile.gitlab.io/tarea_w3school/assets/img/two_image.jpg"); }
.img3 { background-image: url("https://notcompile.gitlab.io/tarea_w3school/assets/img/three_image.jpg"); }
.img4 { background-image: url("https://notcompile.gitlab.io/tarea_w3school/assets/img/four_image.jpg"); }
.img5 { background-image: url("https://notcompile.gitlab.io/tarea_w3school/assets/img/five_image.jpg"); }
    
.bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    font-size: 40px;
    border: 10px solid #f1f1f1;
    position: fixed; 
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
}