.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
  

.topnav .icon {
    display: none;
}


/* -de 600px, se oculta todos los "a" y muestra el icon de barritas*/
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}

/* Con js cambiaremos la class lo cual nos permitira modificar el style  */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}